*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'lato', sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-image: url(./b943e3b6eabdd3e31b681ef13a9872a0.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container{
  width: 550px;
  height: 450px;
}
.header{
  font-size: 1.2rem;
  border: solid;
  color: #000;
  background-color: lightblue;
  padding: 5px;
  width: 80%;
  margin: 20px auto;
  border-radius: 5px;
}

.main-content{
  height: 350px;
  background-color: #fff;
  border-radius: 15px;
  padding: 50px 40px;
  box-shadow: 0 0 10px;
}

.main-content .text-area{
  font-size: 1.5rem;
  line-height: 1.5;
}

.main-content .person{
  font-size: 1.6rem;
  color: crimson;
  text-transform: uppercase;
  margin-top: 20px;
}

.button-area button{
  background-color: lightblue;
  color: #000;
  font-size: 1.3rem;
  padding: 10px 15px;
  margin-top: 20px;
  border-radius: 5px;
}

.button-area button:active{
  background-color: #262626;
  color: #fff;
}